COGNITO_CLIENT_ID=xxxxxxxxxxxx
COGNITO_CLIENT_SECRET=xxxxxxxxxxx
COGNITO_ISSUER=https://cognito-idp.{region}.amazonaws.com/{region}_xxxxxxx
NEXTAUTH_SECRET="use following command in your linux terminal to generate secret key  openssl rand -base64 32"
