main {
  /* border: 1px solid blue; */
  text-align: center;
  padding-bottom: 6.4rem;
}

main .heading{

  margin: 2rem; 
}

main .heading h1{
  text-align: left;
  font-size: 4rem;
}

.heading span{
  color: #d6420b;
}

#card_container {
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.book_card {
  /* border: 1px solid green; */
  margin: auto;
  width: 11.5rem;
  height: 20rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}

.book_card_img {
  padding: 2rem;
  height: 80%;
  overflow: hidden;
}

.book_card_img img {
  object-fit: cover;
  width: 100%;
}

.book_card_body {
  text-align: left;
}
.book_card_body a:hover {
  text-decoration: underline;
}
.book_card_body .span_author {
  color: rgb(105, 105, 105);
}

.book_card_body h3 {
  font-size: 1rem;
}

.book_card_body .span_price {
  color: #d6420b;
  font-weight: 600;
}

@media(width>=768px) {

  #card_container{
    padding: 0 2rem;
  }
}

@media(width>=1080px){
  main .heading{
    padding: 0 10rem;

  }
  #card_container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 0 10rem;
  }
}