.book_page{
    /* border: 1px solid red; */
    padding: 4rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
}

.book_page img{
    /* border: 1px solid red; */
    width: 14rem;
    margin: auto;
}
.book_page h1{
    font-size: 1.6rem;
}

.book_details{
    /* border: 1px solid red; */
    width: 21rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* padding: 0 4rem; */
}

.book_overview{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* text-align: justify; */
}
.author_name span{
    font-weight: 500;
    color: grey;
}



.add_btns{
    display: flex;
    gap: 0.8rem;
    font-weight: 600;
}

.add_btns button{
    padding: 0.8rem 1.4rem;
    border-radius: 0.2rem;
}

.add_to_cart_btn{
    color: white;
    background-color: #0926bb;
}
.add_to_cart_btn:hover{
    background-color: #2545d7;
}

.add_to_wish_btn{
    background-color: #e6e9f7;
    color: #0926bb;
}
.add_to_wish_btn:hover{
    background-color: #f2f4ff;
}
.add_to_wish_btn:disabled{
    color: #b0b0b0;
    background-color: #f8f8f8;
    cursor: not-allowed;

}

.price_tag{
    font-size: 2rem;
    font-weight: 500;
    color: #d6420b;
}

@media(width>=768px){
    .book_page{
        flex-direction: row;
        align-items: flex-start;
        padding: 4rem;
    }
    .book_details{
        width: unset;
    }

    .add_btns button{
        padding: 0.8rem 4rem;
    }
}

@media(width>=1080px){
    .book_page{
        padding: 4rem 8rem 8rem 4rem;
    }
}