.book_page{
    padding: 4rem 10rem;
    display: flex;
    gap: 4rem;
}

.book_page img{
    width: 20rem;
}
.book_page h1{
    font-size: 1.6rem;
}

.book_details{
    display: flex;
    flex-direction: column;
    gap: 2rem
}

.book_overview{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.author_name span{
    font-weight: 500;
    color: grey;
}



.add_btns{
    display: flex;
    gap: 0.8rem;
    font-weight: 600;
}

.add_btns button{
    padding: 0.8rem 5rem;
    border-radius: 0.2rem;
}

.add_to_cart_btn{
    color: white;
    background-color: #0926bb;
}
.add_to_cart_btn:hover{
    background-color: #2545d7;
}

.add_to_wish_btn{
    background-color: #e6e9f7;
    color: #0926bb;
}
.add_to_wish_btn:hover{
    background-color: #f2f4ff;
}
.add_to_wish_btn:disabled{
    color: #b0b0b0;
    background-color: #f8f8f8;
    cursor: not-allowed;

}

.price_tag{
    font-size: 2rem;
    font-weight: 500;
    color: #d6420b;
}